In [1]:
import pandas as pd
from pandas_datareader import data

In [7]:
pd.set_option('max_colwidth', 1000)
pd.set_option('display.width', 1000)

In [2]:
start_date = '2014-01-01'
end_date = '2018-01-01'

In [3]:
google_data = data.DataReader('GOOG', 'yahoo', start_date, end_date)

In [10]:
google_data

                   High          Low         Open        Close     Volume    Adj Close
Date
2014-01-02   556.788025   552.060730   555.647278   554.481689  3656400.0   554.481689
2014-01-03   556.379578   550.401978   555.418152   550.436829  3345800.0   550.436829
2014-01-06   557.340942   551.154114   554.426880   556.573853  3551800.0   556.573853
2014-01-07   567.717041   558.486633   560.399475   567.303589  5124300.0   567.303589
2014-01-08   571.517822   564.528992   570.860291   568.484192  4501700.0   568.484192
...                 ...          ...          ...          ...        ...          ...
2017-12-22  1064.199951  1059.439941  1061.109985  1060.119995   755100.0  1060.119995
2017-12-26  1060.119995  1050.199951  1058.069946  1056.739990   760600.0  1056.739990
2017-12-27  1058.369995  1048.050049  1057.390015  1049.369995  1271900.0  1049.369995
2017-12-28  1054.750000  1044.770020  1051.599976  1048.140015   837100.0  1048.140015
2017-12-29  1049.699951  1044.900024  1046.719971  1046.400024   887500.0  1046.400024

[1007 rows x 6 columns]

In [13]:
google_data_signal = pd.DataFrame(google_data.index)
google_data_signal['price'] = google_data['Adj Close']

Date
2014-01-02     554.481689
2014-01-03     550.436829
2014-01-06     556.573853
2014-01-07     567.303589
2014-01-08     568.484192
                 ...
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Adj Close, Length: 1007, dtype: float64

In [16]:
google_data_signal.head()

        Date  price
0 2014-01-02    NaN
1 2014-01-03    NaN
2 2014-01-06    NaN
3 2014-01-07    NaN
4 2014-01-08    NaN